/*
Custom theme styles
*/

/*Global*/
h1, h2, h3, h4 {
	text-transform: uppercase;
}

/* Header */


.name-text hgroup h1 a {
    color: black;
    display: inline;
    font-family: arial,sans-serif;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 60px;
}

