/*
Custom theme styles
*/


/* Custom */
.name-text hgroup h1 a {
    color: black;
    display: inline;
    font-family: arial,sans-serif;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
}

